@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #dfdfdf;
}

main {
  text-align: center;
  font-size: 1.5rem;
}

/* STYLES RE-USED */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url('./assets/images/home-hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: calc(100vh - 4rem);
  color: white;
  padding: 45px 23px;
  font-family: inherit;
}

.home-container h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 42px;
  margin-bottom: 5rem;
}

.home-container p {
  line-height: 24px;
  width: 60%;
  text-align: center;
  margin: 1.8rem auto;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 30%;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-page-hero {
  position: relative;
  margin-bottom: 15rem;
}

.about-hero-image {
  max-width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.about-page-content {
  position: absolute;
  top: 60%;
  right: 2rem;
  padding: 2rem;
  color: #161616;
  margin: 3rem auto;
  border-radius: 20px;
  background-color: #bcb4b4;
  width: 40%;
}

.about-page-content h1 {
  line-height: 38px;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.about-page-content p {
  line-height: 22px;
  font-size: 1.2rem;
  padding-top: 1rem;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
}

.about-page-cta .link-button:hover {
  text-decoration: underline;
}

/* VAN STYLES */

.van-list-container {
  padding: 3rem;
  padding-top: 0;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile {
  padding: 1rem;
  background-color: #e1c9c9;
  border-radius: 15px;
  min-height: 100%;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  margin: 1rem auto;
  padding: 0.7rem 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}

.van-detail-container {
  width: 70%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #e1c9c9;
  border-radius: 10px;
}

.van-hero {
  display: flex;
  flex-direction: row;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.van-detail-container .back-button:visited {
}

.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  min-width: 50%;
}

.van-info {
  padding: 1rem 1rem;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail p {
  font-size: 1.3rem;
  text-align: left;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
  width: 30%;
  margin: 1.5rem auto 0.5rem;
  height: 3rem;
  font-size: 1.6rem;
  border-radius: 10px;
  border: none;
}

/* HOST LAYOUT */

.host_layout_container {
  width: 100%;
  margin: 0rem auto;
  min-height: 80vh;
  border-radius: 15px;
}

.host_content {
  padding: 2rem;
}
